.navlist {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-right: 5rem;
  margin-top: 1rem;
}

.title{
  font-family: 'Red Hat Mono', monospace;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.5rem;
}

.links {
  color: rgb(128, 128, 255);
}

.logo {
  width: 4rem;
  height: 4rem;
  padding: 0.2rem;
}

.logo-header {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
}

.links-bar {
  display: flex;
  justify-content: space-between;
}

.profile {
  border-left: 2px solid gray;
  padding-left: 1.5rem;
}

nav {
  padding-top: 1rem;
  border-bottom: 1px solid gray;
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
