body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
    
}

h1{
  font-family: 'Red Hat Mono', monospace;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

* { text-decoration: none; }
